<!--
  Generated template for the PersonagemDetalhePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="danger" class="force-back-button">
        <ion-title>{{personagem.nome}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="openRapidDiceRoller()">
                <ion-icon name="logo-d20"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="personagem">
        <ion-item>
            <ion-label color="primary">Inline Label</ion-label>
            <ion-input placeholder="Text Input" [(ngModel)]="personagem.nome"></ion-input>
        </ion-item>
        <ion-item>
            <ion-textarea placeholder="Insira a descrição" [(ngModel)]="personagem.descricao"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>Raça</ion-label>
            <ion-select [(ngModel)]="personagem.$raca">
                <ion-option *ngFor="let raca of racas" value="{{raca}}">{{raca.nome}}</ion-option>
            </ion-select>
        </ion-item>
        <button ion-item (tap)="openClasses()">
            <h3>Classes</h3>
            <p>
                <div *ngFor="let classe in personagem.$classes">
                    {{classe.$classe | classe }} &nbsp;
                </div>
            </p>
            <button ion-button clear icon-only item-end>
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </button>
        <button ion-item (tap)="openEspec()">
                <h3>Especializações</h3>
                <p>
                    <div *ngFor="let espec in personagem.$especializacoes">
                        {{espec.$nome}} &nbsp;
                    </div>
                </p>
                <button ion-button clear icon-only item-end>
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </button>
        <ion-list-header>
            Atributos
        </ion-list-header>
        <ion-item-group>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item class="padding-left-2px">
                            <ion-label floating>Força</ion-label>
                            <ion-input type="number" [(ngModel)]="personagem.atributos.$forca"> </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item class="padding-left-2px">
                            <ion-label floating>Destreza</ion-label>
                            <ion-input type="number" [(ngModel)]="personagem.atributos.$destreza"> </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item class="padding-left-2px">
                            <ion-label floating>Constituição</ion-label>
                            <ion-input type="number" [(ngModel)]="personagem.atributos.$constituicao"> </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item class="padding-left-2px">
                            <ion-label floating>Inteligencia</ion-label>
                            <ion-input type="number" [(ngModel)]="personagem.atributos.$inteligencia"> </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item class="padding-left-2px">
                            <ion-label floating>Sabedoria</ion-label>
                            <ion-input type="number" [(ngModel)]="personagem.atributos.$sabedoria"> </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item class="padding-left-2px">
                            <ion-label floating>Carisma</ion-label>
                            <ion-input type="number" [(ngModel)]="personagem.atributos.$carisma"> </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-group>
        <ion-list-header>
            Ajustes
        </ion-list-header>
        <ion-item-group>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            For : {{personagem.atributos.$ajusteForca}}
                        </ion-col>
                        <ion-col>
                            Des : {{personagem.atributos.$ajusteDestreza}}
                        </ion-col>
                        <ion-col>
                            Con : {{personagem.atributos.$ajusteConstituicao}}
                        </ion-col>
                        <ion-col>
                            Sab : {{personagem.atributos.$ajusteSabedoria}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            Aprender magia : {{personagem.atributos.$chanceAprenderMagia}}%
                        </ion-col>
                        <ion-col>
                            Chance de Ressureição : {{personagem.atributos.$chance_res}}%
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            Ajuste de Reação : {{personagem.atributos.$ajusteReacao}}%
                        </ion-col>
                        <ion-col>
                            Numero de seguidores : {{personagem.atributos.$seguidores}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            Idiomas Adicionais : {{personagem.atributos.$idiomasAdicionais}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-item-group>
        <button ion-item (tap)="openIdiomas()">
            <h3>Idiomas</h3>
            <p>
                <div *ngFor="let idioma in personagem.$idiomas">
                    {{idioma.$nome}} &nbsp;
                </div>
            </p>
            <button ion-button clear icon-only item-end>
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </button>
        <ion-item>
            <ion-grid>
                <ion-row>
                    Carga
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h3>Sem</h3>
                        <p style="text-align: center;">{{personagem.atributos.$linearSemCarga}} kg</p>
                    </ion-col>
                    <ion-col>
                        <h3>Leve</h3>
                        <p style="text-align: center;">{{personagem.atributos.$linearCargaLeve}} kg</p>
                    </ion-col>
                    <ion-col>
                        <h3>Pesada</h3>
                        <p style="text-align: center;">{{personagem.atributos.$linearCargaPesada}} kg</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>