<!--
  Generated template for the CalculadoraClassePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="danger">
        <ion-buttons left>
            <button ion-button icon-only menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
        </ion-buttons>
        <ion-title class="calculadora-atributos-toolbar-title">Calculadora</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="calculadora-classe">
    <ion-card>
        <ion-item>
            <ion-label>Classe</ion-label>
            <ion-select [(ngModel)]="selectedClass" (ngModelChange)="classChanged()">
                <ion-option value="0">Clérigo</ion-option>
                <ion-option value="1">Homem de Armas</ion-option>
                <ion-option value="2">Mago</ion-option>
                <ion-option value="3">Ladrão</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label fixed>Nivel</ion-label>
            <ion-input type="number" max="20" min="1" [(ngModel)]="nivel" (ngModelChange)="nivelChanged()"></ion-input>
        </ion-item>
    </ion-card>
    <div *ngIf="nivel > 0 && nivel < 21">
        <ion-card>
            <ion-card-header>
                Bonus de Classe
            </ion-card-header>
            <ion-item>
                <ion-icon name="trending-up" item-left large></ion-icon>
                <h2>Experiencia para proximo nivel</h2>
                <p>{{currentClass.$bonus.xp}}</p>
            </ion-item>
            <ion-item *ngIf="currentClass.$bonus.isDadoDeVida">
                <ion-icon name="{{currentClass.dadoDeVida | diceicon}}" item-left large></ion-icon>
                <h2>Dados de Vida</h2>
                <p>{{currentClass.$bonus.quantidade}}</p>
            </ion-item>
            <ion-item *ngIf="!currentClass.$bonus.isDadoDeVida">
                <ion-icon name="{{currentClass.dadoDeVida | diceicon}}" item-left large></ion-icon>
                <h2>Vida Adicional</h2>
                <p>+{{currentClass.$bonus.quantidade}}</p>
            </ion-item>
            <ion-item>
                <ion-icon name="logo-sword" item-left large></ion-icon>
                <h2>Bonus de Ataque</h2>
                <p>{{currentClass.$bonus.bonusDeAtaque}}</p>
            </ion-item>
            <ion-item>
                <ion-icon name="logo-armor" item-left large></ion-icon>
                <h2>Jogada de Proteção</h2>
                <p>{{currentClass.$bonus.jogadaDeProtecao}}</p>
            </ion-item>
        </ion-card>
        <ion-card *ngIf="selectedClass === 0 || selectedClass === 2">
            <ion-item>
                <ion-icon name="book" item-left large></ion-icon>
                <h2>Acesso a Magia</h2>
                <p></p>
            </ion-item>
            <ion-item>
                <ion-grid>
                    <ion-row style="-webkit-flex-wrap: wrap;flex-wrap: wrap;justify-content: flex-start;">
                        <ion-col col-10 *ngFor='let value of currentClass.$magia.acessoMagia; let i = index'>
                            {{i+1}}º
                            <p>
                                {{value}}
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-card>
        <ion-card *ngIf="selectedClass === 0">
            <ion-item>
                <ion-icon name="logo-skull" item-left large></ion-icon>
                <h2>Afastar Mortos Vivos</h2>
            </ion-item>
            <ion-card-header>
                Por dados de Vida
            </ion-card-header>
            <ion-item>
                <ion-grid>
                    <ion-row style="-webkit-flex-wrap: wrap;flex-wrap: wrap;justify-content: flex-start;">
                        <ion-col width-10 *ngFor='let value of currentClass.$afastarMortosDadoDeVida.mortosVivos; let i = index'>
                            {{i+1}}
                            <p>
                                {{value}}
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-card-header>
                Por Criatura
            </ion-card-header>
            <ion-item>
                Esqueleto
                <b item-right>{{currentClass.$afastarMortos.esqueleto}}</b>
            </ion-item>
            <ion-item>
                Zumbi
                <b item-right>{{currentClass.$afastarMortos.zumbi}}</b>
            </ion-item>
            <ion-item>
                Carnical
                <b item-right>{{currentClass.$afastarMortos.carnical}}</b>
            </ion-item>
            <ion-item>
                Inumano
                <b item-right>{{currentClass.$afastarMortos.inumano}}</b>
            </ion-item>
            <ion-item>
                Aparicao
                <b item-right>{{currentClass.$afastarMortos.aparicao}}</b>
            </ion-item>
            <ion-item>
                Mumia
                <b item-right>{{currentClass.$afastarMortos.mumia}}</b>
            </ion-item>
            <ion-item>
                Espectro
                <b item-right>{{currentClass.$afastarMortos.espectro}}</b>
            </ion-item>
            <ion-item>
                Vampiro
                <b item-right>{{currentClass.$afastarMortos.vampiro}}</b>
            </ion-item>
        </ion-card>
        <ion-card *ngIf="selectedClass === 3">
            <ion-item>
                <ion-icon name="logo-crest" item-left large></ion-icon>
                <h2>Talentos Ladinos</h2>
            </ion-item>
            <ion-item>
                Abrir Fechaduras
                <b item-right>{{currentClass.$talentos.abrirFechaduras}}%</b>
            </ion-item>
            <ion-item>
                Desarmar Armadilhas
                <b item-right>{{currentClass.$talentos.reconhecerDesarmarArmadilhas}}%</b>
            </ion-item>
            <ion-item>
                Escalar Muros
                <b item-right>{{currentClass.$talentos.escalarMuros}}%</b>
            </ion-item>
            <ion-item>
                Mover em Silencio
                <b item-right>{{currentClass.$talentos.moverEmSilencio}}%</b>
            </ion-item>
            <ion-item>
                Esconder nas Sombras
                <b item-right>{{currentClass.$talentos.esconderNasSombras}}%</b>
            </ion-item>
            <ion-item>
                Pungar
                <b item-right>{{currentClass.$talentos.pungar}}%</b>
            </ion-item>
            <ion-item>
                Ouvir Barulhos
                <b item-right>{{currentClass.$talentos.ouvirBarulhos}}</b>
            </ion-item>
            <ion-item>
                Ataque Pelas Costas
                <b item-right>x{{currentClass.$talentos.ataquePelasCostas}}</b>
            </ion-item>
        </ion-card>
    </div>
</ion-content>