<!--
  Generated template for the PersonagemInventarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger"  class="force-back-button">
      <ion-title>{{personagem.nome}}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (tap)="addItemInventario()">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list>
    <ion-item-sliding *ngFor="let item of personagem.inventario">
        <button ion-item *ngIf="whatIsThisItem(item) === 0">
            <h2>{{item.nome}}</h2>
            <p>{{item.peso}}kg , {{item.valor | moneyconventer}}</p>
            <p>{{item.descricao}}</p>
        </button>
        <button ion-item (tap)="openDetail(item)" *ngIf="whatIsThisItem(item) === 2">
            <h2>{{item.nome}}</h2>
            <p>{{item.peso}}kg , {{item.valor | moneyconventer}}</p>
            <p>{{item.movimentacao}} metros</p>
            <div item-right>{{item.bonusCa}} CA</div>
        </button>
        <button ion-item (tap)="openDetail(item)" *ngIf="whatIsThisItem(item) === 1">
            <h2>{{item.nome}}</h2>
            <p>{{item.peso}}kg , {{item.valor | moneyconventer}} </p>
            <p>Iniciativa : {{item.iniciativa}} , BA : {{item.BaAdicional}} </p>
            <div item-right>{{item.dano.danoPuro}} + {{item.dano.qntdRolagem}} x
                <ion-icon name="{{item.dano.danoRolagem | diceicon}}"></ion-icon>
            </div>
        </button>
        <ion-item-options>
            <button color="danger" ion-button (tap)="deletarItem(item)">
              <ion-icon name="close"></ion-icon>
              Excluir
            </button>
          </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-footer>
    <ion-item>
      <ion-grid>
        <div ion-row>
          <div ion-col>
              Peso Atual: {{peso}}kg
          </div>
          <div ion-col>
            <div *ngIf="peso <= personagem.$atributos.$linearCargaLeve">
              Sem Carga
            </div>
            <div *ngIf="peso > personagem.$atributos.$linearCargaLeve">
              Movimento -1
            </div>
            <div *ngIf="peso > personagem.$atributos.$linearCargaPesada">
                Movimento -2
            </div>
            <div *ngIf="peso > personagem.$atributos.$linearCargaPesada+20">
                Imobilizado
            </div>
          </div>
        </div>
      </ion-grid>
    </ion-item>
    </ion-footer>
</ion-content>
